*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height: 600px;
    background-image: url(../img/hq720.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.container h1{
    font-size: 70px;
}
.container p{
    font-size: 25px;
}
.container button{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(70, 70, 152) ;
    color: white;
}


#secondArea{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.secondcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.secondcontainer h1{
    font-size: 30px;

}
.secondcontainer p{
    font-size: 18px;

}
.secondcontainer button{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(62, 61, 61);
    color: white;

}
