body {
    font-family: Arial, sans-serif;
    background-color: #e9ecf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  
  .task-container {
    background-color: #bacadd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .task-input {
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: 2px solid #ccc;
    outline: none;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .add-btn {
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-btn:hover {
    background-color: #d32f2f;
  }
  
  .task-list {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .task-item {
    width: 300px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #999;
  }
  
  .delete-btn {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .delete-btn:hover {
    background-color: #c62828;
  }


  .delete-all-container {
    margin-top: 20px;
  }
  
  #deleteAllBtn {
    background-color: #f44336;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  #deleteAllBtn:hover {
    background-color: #c62828;
  }
  
  
  