.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .register-form {
    border: 2px solid #facc15; 
    padding: 30px;
    border-radius: 10px;
    width: 350px;
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .label-container {
    display: flex;
    justify-content: space-between;
  }
  
  .register-btn {
    width: 100%;
    padding: 12px;
    background-color: #facc15;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .register-btn:hover {
    background-color: #eab308;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .register-form input:focus {
    border: 1px solid #facc15; 
    box-shadow: 0 0 10px #facc15, 0 0 20px #facc15;
  }
  
  