
/* Bütün elementləri seçir. */
* {
    color: red;
  }
  /* Müəyyən HTML elementlərini seçir. */
  p {
    font-size: 20px;
  }
   /* class-ı olan elementləri seçir. */
  .text{
 
    background-color: blueviolet;
  }
  /* id-yə sahib olan bir elementi seçir. */
  #id{
    border: 3px solid black;
}
/* bir valideynin altında olan bütün uşaq elementlərini seçir. */

div p {
    color: green;
  }
  /* Yalnız valideynin birbaşa uşaqlarını seçir. */
  ul > li {
    list-style-type: square;
  }
  /* Müəyyən bir elementdən sonra gələn bütün eyni valideynə malik olan elementləri seçir. */
  h1 ~ p {
    color: orange;
  }
  /* Müəyyən bir atributu olan elementləri seçir. */
  input[type="text"] {
    border: 2px solid blue;
  }
  /* hover və s. vəziyyətinə gələn elementləri seçir. */
  a:hover {
    color: red;
  }
  /* Hər hansı bir valideynin ilk uşağını seçir. */
  ul li:first-child {
    font-weight: bold;
  }
  /* Hər hansı bir valideynin sonuncu uşağını seçir. */
  ul li:last-child {
    margin-bottom: 0;
  }
  /* Eyni tipdən olan elementlər arasında verilən nömrəyə uyğun olanları seçir. */
  div:nth-of-type(2) {
    background-color: yellow;
  }
  /* Aktiv vəziyyətdə olan form elementlərini seçir. */
  input:enabled {
    border-color: green;
  }
  /* Deaktiv vəziyyətdə olan form elementlərini seçir. */
  input:disabled {
    background-color: gray;
  }